# Environment Variables (ASLA GitHub'a PUSH ETMEYİN!)
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Node / Web Frontend
node_modules/
dist/
build/
.ds_store
.vscode/
.idea/
