@import "tailwindcss";

@theme {
  --color-radio-dark: #09090b;   /*koyu gri*/   
  --color-radio-card: #18181b;   /*bi tık açık koyu gri*/   
  --color-radio-accent: #E50914; /*canlı kırmızı tonu*/  
}

html, body {
  background-color: var(--color-radio-dark);
  color: white;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}